body {
  font-family: PixelFont;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40pt;
  padding: 0;
  margin: 0;

  font-weight: normal;
}

h2,
h3,
h4 {
  padding: 0;
  margin: 0;

  font-weight: normal;
}

hr {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}

p {
  font-size: 13pt;
  padding: 0;
  margin: 0;
}

br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background: rgba(50, 50, 50, 0.5);
}
::-moz-selection {
  background: rgba(50, 50, 50, 0.5);
}
